* {
  box-sizing: border-box;
}

section {
  display: block;
}

body,
html {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: auto;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
}
header .logo {
  margin: 20px;
  text-align: center;
}
header img {
  width: auto;
  height: 35px;
}

.paris-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.paris-panel__txt {
  padding: 20px;
}

.reservation-panel {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 60px;
}
.reservation-panel__title {
  margin: 0px;
  display: flex;
  justify-content: center;
}
.reservation-panel__subtitle {
  font-weight: 300;
  padding-bottom: 30px;
}
.reservation-panel__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #9356DC;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.reservation-panel__btn:hover {
  transform: scale(1.13);
  background-color: #99E2D0;
}

.section-white {
  padding: 2rem 1rem;
}
.section-white__title {
  margin-top: 0;
}
@media screen and (min-width: 1025px) {
  .section-white__title {
    display: flex;
    justify-content: center;
  }
}
.section-white__card {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section-white__card {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1025px) {
  .section-white__card {
    display: flex;
    justify-content: center;
  }
}
.section-white__li {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .section-white__li {
    margin: 1rem 5rem 1rem 0.75rem;
  }
}
.section-white__li:before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}
.section-white__txt {
  margin-left: 10px;
}

.blue {
  background-color: #f5edff;
}

.panelsgrey {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .panelsgrey {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .panelsgrey {
    max-width: 1200px;
    flex-direction: row;
    margin-bottom: 40px;
  }
}

.restaurant {
  padding: 30px;
  flex-basis: 100%;
  background-color: #f3f3f3;
}
@media screen and (min-width: 1025px) {
  .restaurant {
    border-radius: 15px;
  }
}
.restaurant-title {
  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
}
.restaurant-more__text {
  font-size: 16px;
  margin: 10px 0 0 0;
}
.restaurant-panelswhite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant-panelswhite {
    flex-direction: row;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant-panelswhite {
    max-width: 1300px;
    flex-direction: row;
    border-radius: 15px;
  }
}

.rest-panelswhite-card {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px grey;
  transition: transform 400ms;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .rest-panelswhite-card {
    flex-basis: 49%;
  }
}
@media screen and (min-width: 1025px) {
  .rest-panelswhite-card {
    flex-basis: 49%;
  }
}
.rest-panelswhite-card:hover {
  transform: scale(1.02);
}
.rest-panelswhite-card-picture {
  overflow: hidden;
  position: relative;
}
.rest-panelswhite-card-picture__img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}
.rest-panelswhite-card-description {
  padding: 10px;
}
.rest-panelswhite-card-description__title {
  font-size: 18px;
  margin: 0;
}
.rest-panelswhite-card-description__subtitle {
  font-size: 13px;
  margin: 0;
  padding-bottom: 6px;
}

.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 6%;
  top: 8%;
}

.fa-heart:hover {
  background: linear-gradient(#9356dc, #ff79da);
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heartAnim linear 0.5s;
}

@keyframes heartAnim {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}
header a {
  position: absolute;
  left: 30px;
  top: 30px;
  color: #000;
}

.photo__restaurant img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.card__title {
  font-family: "Shrikhand", cursive;
}

.fa-heart:before {
  margin-left: 20px;
  font-size: 1.5rem;
}

.card__global {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #F6F6F6;
  padding: 36px 21px;
  margin-top: -27px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  max-width: 100%;
}
.card .far {
  align-self: flex-end;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    margin-left: 22%;
    margin-right: 22%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .card {
    margin-left: 22%;
    margin-right: 22%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.entrees {
  margin-bottom: 0px;
}
.entrees h2::after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

.card__global__contenu {
  max-width: 100%;
  background-color: #FFF;
  width: 100%;
  height: 70px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0 0 0 16px;
  border-radius: 0.75rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-right: 20px;
}
.card__global__contenu__dish {
  width: 100%;
  padding: 14px 0;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  margin-right: -85px;
}
.card__global__contenu__dish h3 {
  font-size: 16px;
  display: flex;
  overflow: hidden;
}
.card__global__contenu__dish h4 {
  font-size: 15px;
  display: flex;
  margin: 0;
  overflow: hidden;
}
.card__global__contenu .header_menu {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.card__global__contenu .header_menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: contents;
  overflow: hidden;
}
.card__global__contenu .header_menu h4 {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  overflow: hidden;
}
.card__global__contenu:hover .card__global__contenu__dish__confirmation {
  margin-right: -1.25rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.card__global__contenu:hover .header_menu {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__global__contenu:hover .header_menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card__global__contenu:hover .header_menu h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card__global__contenu:hover .circle {
  transform: rotate(360deg);
}

.card__global__contenu__dish__confirmation {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -47px;
}

.circle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  background: #FFF;
  color: black;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: transform 0.5s;
}
.circle .fas {
  margin-left: 4px;
  color: #99E2D0;
}

.center {
  text-align: center;
}

.card__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  width: 25%;
  max-width: 400px;
}

.bouton__commander {
  padding: 30px 0 80px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.bouton__commander--pink {
  border: 0;
  padding: 0.75rem 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #9356DC;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.bouton__commander--pink:hover {
  transform: scale(1.13);
  background-color: #99E2D0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bouton__commander {
    background-color: #FFF;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1025px) {
  .bouton__commander {
    background-color: #FFF;
    padding-top: 4rem;
  }
}

footer {
  background-color: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  max-width: 100%;
  min-width: 320px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    align-items: center;
    margin-left: 0;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    align-items: center;
    margin-left: 0;
  }
}
footer h3 {
  margin: 0 0 10px 20px;
  color: #e6e6e6;
  font-weight: normal;
}
footer i {
  padding-right: 15px;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #FFF;
}
footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer__logo {
    margin-left: 0;
  }
}
@media screen and (min-width: 1025px) {
  footer .footer__logo {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
