* {
  box-sizing: border-box;
}

section {
  display: block;
}

body,
html {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: auto;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
}
header .logo {
  margin: 20px;
  text-align: center;
}
header img {
  width: auto;
  height: 35px;
}

.paris-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
.paris-panel__txt {
  padding: 20px;
}

.reservation-panel {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.reservation-panel__title {
  margin: 0px;
  display: flex;
  justify-content: center;
}
.reservation-panel__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}
.reservation-panel__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #9356DC;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.reservation-panel__btn:hover {
  transform: scale(1.13);
  background-color: #99E2D0;
}

.section-white {
  padding: 2rem 1rem;
}
.section-white__title {
  margin-top: 0;
}
@media screen and (min-width: 1025px) {
  .section-white__title {
    display: flex;
    justify-content: center;
  }
}
.section-white__card {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section-white__card {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1025px) {
  .section-white__card {
    display: flex;
    justify-content: center;
  }
}
.section-white__li {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section-white__li {
    margin: 1rem 5rem 1rem 0.75rem;
  }
}
@media screen and (min-width: 1025px) {
  .section-white__li {
    margin: 1rem 5rem 1rem 0.75rem;
  }
}
.section-white__li:before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}
.section-white__txt {
  margin-left: 10px;
}

.panelsgrey {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .panelsgrey {
    max-width: 1200px;
    flex-direction: row;
  }
}

.restaurant {
  padding: 30px;
  flex-basis: 100%;
  background-color: #f3f3f3;
}
@media screen and (min-width: 1025px) {
  .restaurant {
    border-radius: 15px;
  }
}
.restaurant-title {
  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
}
.restaurant-more__text {
  font-size: 16px;
  margin: 10px 0 0 0;
}
.restaurant-panelswhite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant-panelswhite {
    flex-direction: row;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant-panelswhite {
    max-width: 1300px;
    flex-direction: row;
    border-radius: 15px;
  }
}

.rest-panelswhite-card {
  flex-basis: 31%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px grey;
  transition: transform 400ms;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .rest-panelswhite-card {
    flex-basis: 49%;
  }
}
@media screen and (min-width: 1025px) {
  .rest-panelswhite-card {
    flex-basis: 49%;
  }
}
.rest-panelswhite-card:hover {
  transform: scale(1.02);
}
.rest-panelswhite-card-picture {
  overflow: hidden;
  position: relative;
}
.rest-panelswhite-card-picture__img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}
.rest-panelswhite-card-description {
  padding: 10px;
}
.rest-panelswhite-card-description__title {
  font-size: 18px;
  margin: 0;
}
.rest-panelswhite-card-description__subtitle {
  font-size: 13px;
  margin: 0;
  padding-bottom: 6px;
}

.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 6%;
  top: 8%;
}

.fa-heart:hover {
  font-size: 1.75em;
  animation: bgcolor 0.5s;
  font-weight: 900;
  background: -webkit-linear-gradient(13deg, #FF79DA 0%, #ba62db 66%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  max-width: 100%;
  min-width: 320px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    align-items: center;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    align-items: center;
  }
}
footer h3 {
  margin: 0 0 10px 20px;
  color: #e6e6e6;
  font-weight: normal;
}
footer i {
  padding-right: 15px;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #FFF;
}
footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
