* {
    box-sizing: border-box;
}

section {
    display: block;
}

body,
html {
    font-family: Roboto, sans-serif;
    margin: $margin;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: auto;
    position: relative;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fad1 {
    animation: fadein 2s;
}

.fad2 {
    animation: fadein 4s;
}

.fad3 {
    animation: fadein 6s;
}

.fad4 {
    animation: fadein 8s;
}