  // main
  .paris-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f3;
      box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);

      &__txt {
          padding: 20px;
      }
  }

  .reservation-panel {
      padding: 2rem;
      text-align: center;
      background-color: #fafafa;
      padding-bottom: 60px;

      &__title {
          margin: $margin;
          display: flex;
          justify-content: center;
      }

      &__subtitle {
          font-weight: 300;
          padding-bottom: 30px;
      }

      &__btn {
          border: 0;
          padding: 0.75rem 1.5rem;
          font-weight: 500;
          font-size: 1.1rem;
          border-radius: 100px;
          color: #fff;
          background-color: $Primaire;
          background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
          cursor: pointer;
          box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);

          &:hover {
              transform: scale(1.13);
              background-color: $Tertiaire;
          }
      }
  }

  .section-white {
      padding: 2rem 1rem;

      &__title {
          margin-top: 0;

          @include desktop-only {
              display: flex;
              justify-content: center;

          }
      }

      &__card {
          margin: 0;
          padding: 0;
          list-style: none;
          counter-reset: compteListe;

          @include tablet-only {
              display: flex;
              justify-content: center;

          }

          @include desktop-only {
              display: flex;
              justify-content: center;

          }
      }

      &__li {
          padding: 1.5rem;
          margin: 1rem 0 1rem 0.75rem;
          box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
          border-radius: 1.25rem;
          background-color: #f6f6f6;
          display: flex;
          position: relative;
          align-items: center;


          @include desktop-only {

              margin: 1rem 5rem 1rem 0.75rem;

          }

          &:before {
              counter-increment: compteListe 1;
              content: counter(compteListe) " ";
              background: #9356dc;
              height: 1.5rem;
              width: 1.5rem;
              border-radius: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              position: absolute;
              left: -0.75rem;
          }
      }

      &__txt {
          margin-left: 10px;
      }
  }

  .blue {
      background-color: #f5edff;
  }

  .panelsgrey {
      display: flex;
      justify-content: space-between;

      @include tablet-only {
          display: flex;
          justify-content: center;
          margin-bottom: 40px;
      }

      @include desktop-only {
          max-width: 1200px;
          flex-direction: row;
          margin-bottom: 40px;
      }
  }

  .restaurant {
      padding: 30px;
      flex-basis: 100%;
      background-color: #f3f3f3;

      @include desktop-only {
          border-radius: 15px;
      }

      &-title {
          font-size: 20px;
          margin: 0;
          padding-bottom: 20px;
      }

      &-more__text {
          font-size: 16px;
          margin: 10px 0 0 0;
      }

      &-panelswhite {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-direction: column;


          @include tablet-only {
              flex-direction: row;
          }

          @include desktop-only {
              max-width: 1300px;
              flex-direction: row;
              border-radius: 15px;
          }

      }
  }

  .rest-panelswhite-card {
      margin-bottom: 20px;
      background-color: white;
      border-radius: 15px;
      box-shadow: 1px 1px 10px grey;
      transition: transform 400ms;
      overflow: hidden;

      @include tablet-only {
          flex-basis: 49%;
      }

      @include desktop-only {
          flex-basis: 49%;
      }

      &:hover {
          transform: scale(1.02);

      }

      &-picture {
          overflow: hidden;
          position: relative;
      }

      &-picture__img {
          height: 175px;
          width: 100%;
          object-fit: cover;
      }

      &-description {
          padding: 10px;
      }

      &-description__title {
          font-size: 18px;
          margin: 0;
      }

      &-description__subtitle {
          font-size: 13px;
          margin: 0;
          padding-bottom: 6px;
      }
  }

  .heart {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .new {
      color: #008766;
      background: #99E2D0;
      border: 5px solid #99E2D0;
      border-radius: 5px;
      position: absolute;
      right: 6%;
      top: 8%;
  }

  .fa-heart:hover {
      animation: bgcolor 0.5s;
      font-weight: 900;
      background: -webkit-linear-gradient(13deg, $Secondaire 0%, #ba62db 66%);
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }